

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.razib{
    display: flex;
    margin-bottom: 120px;
    


}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 40px;

}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
   background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 15px;
}
.banner{
    background-image: url(./top-banner.png);
    background-repeat: no-repeat;
    
}
.dream{
    background-image: url(./dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sultan{
   
    width: 40%;
    margin: 5% 5%;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-align: left;
    box-shadow:10px 10px 50px gray ;
}


.xyz{
    background-image: url(./exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(150deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}